@import "tailwindcss";
@plugin "daisyui";
html {
    scroll-behavior: smooth;
  }
  
animation {
      ping-slow: 'ping 6s cubic-bezier(0, 0, 0.2, 1) infinite',
    }

    
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid cyan;
  animation: typing 2s steps(15), blink 0.75s step-end infinite;
}

